{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | SignUp{% endblock %}

{% block stylesheets %}
<style>
   
 .text-center a img{
    width : 30vh;
    height: 10vh;
    margin: 1vh auto;
   }

</style>
{% endblock %}

{% block body %}
<h1 class='text-center'><a href="href={{path('app_home')}}"><img src="{{ asset('Assets/Images/transparent.png') }}" alt="logo"></a></h1>

	<div class="row m-auto w-50 ">
		<div class="text-center mt-1 mb-4">
             {{form(signupForm)}}    
             <a href="{{path('app_home')}}" class='btn btn-primary w-50 mt-3'>Login</a>
        </div>  
	</div>
    
   

{% endblock %}